<%- include('./partials/headLogo') %>
    <main>
        <section>
            <h1>Edite e Atualize a categoria</h1>

            <form action="/edit/cat/category/<%=categoryResult.id%>?_method=put" method="post">
                <div class="Product-input">
                    <label for="id">Id: </label><%= categoryResult.id %>
                </div>
                <div>
                    <label class="form-label" for="category_opt_singular-id">Categoria Singular</label>
                    <input value="<%=categoryResult.category_opt_singular%>" type="text" class="form-control" name="category_opt_singular" id="category_opt_singular-id" placeholder="Tipo de item ex. 'Caneca'">
                </div>
                <div>
                    <label class="form-label" for="category_opt_plural-id">Categoria Plural</label>
                    <input value="<%=categoryResult.category_opt_plural%>" type="text" class="form-control" name="category_opt_plural" id="category_opt_plural-id" placeholder="Tipo de item ex. 'Canecas'">
                </div>
                <button type="submit" class="btn-btn-primary">Atualizar</button>
            </form>
            <a href="/actionChange/cat/categoryActionChange"><button type="submit" class="btn-btn-primary">Voltar</button></a>
        </section>
    </main>
<%- include('./partials/footer') %>