<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="/img/Logo para camiseta preta MOD 1.png">
    <link rel="stylesheet" href="/css/homePage.css">
    <link rel="stylesheet" href="/css/product.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <div id="container-header-main">
            <div id="container-header-menu">
                <span>
                    <a href="/"><img id="header-logo" src="/img/Logo para camiseta preta MOD 1.png" alt="Logo MicMar"></a>
                </span>
                
                <div id="header-form">
                    <div id="h-form">
                        <form id="header-form-pesquisa" action="/buscar" method="get">
                            <input class="header-form-pesquisa-input" type="text" name="pesquisar" placeholder="Digite o que você procura">
                            <button class="header-form-pesquisa-input">BUSCAR</button>
                        </form>
                    </div>
                    <ul id="header-li-sup">
                        <li class="h-li-sup"><a href="/contato"><img src="/img/conta.png" alt="" width="34" hiegth="34"></a><a href="/contato"><b><%=hcl.title_position_1%></b></a></li>
                        <li class="h-li-sup"><a href="/pedidos"><img src="/img/pedidos.png" alt="" width="34" hiegth="34"></a><a href="/pedidos"><b><%=hcl.title_position_2%></b></a></li>
                        <li class="h-li-sup"><a href="/carrinho"><img src="/img/carrinho.svg" alt="" width="37" hiegth="37"></a><a href="/carrinho"><b><%=hcl.title_position_3%></b></a></li>
                    </ul>
                </div>

            </div>
            <div id="container-title-header-co">
                <% for (let prod of co){ %>
                <ul id="header-li-inf">
                    <li class="h-li-inf"><a href="/products/<%=prod.category_opt_singular%>"><b><%=prod.category_opt_plural%></b></a></li>
                </ul>
                <% } %>
            </div>
        </div>
    </header>